include *.py
include *.txt
include *.rst
include LICENSE
include *.sh
exclude example/* example/templates/registration/login.html
recursive-include cookiesession *.py *.html
recursive-include docs *
recursive-include *.py *.html
